gensim==3.4.0
gevent==1.2.2
h5py==2.7.1
heapdict==1.0.0
Keras==2.1.4
many-stop-words==0.2.2
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.1.2
nltk==3.2.5
numpy==1.14.0
numpydoc==0.7.0
olefile==0.45.1
pandas==0.22.0
pandocfilters==1.4.2
Pillow==5.0.0
scikit-learn==0.19.1
scipy==1.0.0
tensorboard==1.6.0
tensorflow==2.5.1
webencodings==0.5.1
Werkzeug==0.14.1
wordcloud==1.4
many_stop_words==0.2.2
